/**********************
GENERAL
**********************/

body {
	color: #bc36e0;
	background-color: #e8f3f8;
}

ul {
	list-style: none;
}

footer {
	font-size: 75%;
}
/**********************
HEADER
**********************/


div.column1 {
	float: left;
	width: 60%;
	/* display: inline-block; */
}

div.column2 {
	float: left;
	width: 34%;
	/* display: inline-block;*/
}

.column2 li {
	display: inline;
}

/**********************
BODY
**********************/
.clearFloat {
	clear: both;
}

main {
	overflow: auto;
	/*border: 1px solid green;*/
	clear: both;
}

nav {
	
	color: #E8FFC3;
	padding: 10px;
	width: 25%;
	float: left;
	border: 1px solid;
	border-color: #0c5565;
	border-width: thin;
}

section {
	padding: 10px;
	width: 60%;
	float: left;
	margin: 10px;
}

img.small {
	width: 200px;
	height: 150px;
}

article {
	padding: 10px;
	margin: 10px;
}

/**********************
FOOTER
**********************/

footer {
	float: left;
	min-width: 50%
}